.header {
  text-align: center;
  color: #ffffd2;
  background-color: #afe6ff;
  padding: 10px;
  border-radius: 30px;
}
#mainpage{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: larger
}
/*
#start {
  background-color: #afe6ff;
  color: #000000;
  display: block;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
}
*/

#time {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin: auto;
  align-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-evenly;
}

.box {
  background-color: #afe6ff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 40px;
  font-family: "Goudy Bookletter 1911", sans-serif;
}

.formula {
  background-color: #ffffd2;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 40px;
  font-family: "Goudy Bookletter 1911", sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.blink:hover {
  background-color: beige;
}

.sub {
  color: #ffff00;
}

body {
  background-color: beige;
}

.clicked {
  background-color: cadetblue;
}

.correct{
  background-color: green;
}
#link{
  background-color: #afe6ff;
  color: #000000;
  display: block;
  margin: 10px;
  border-radius: 24px;
  padding: 10px;
  
}