div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

#submit{
    background-color: red; 

  padding: 50px; 
  margin: 100px;
  font-size: medium;
  border-radius: 10px;
    
}