h2 {
    color:#000000;
   background-image: linear-gradient(grey, gold, blue);
    font-family:cursive;

}

*{
    background-color: aqua;

}

p{
    color:deeppink;
    border:dotted yellow;
    
}

h2 {
  outline: 5px dotted green;
    border:double;
}

p {
    outline: 2px dashed blue;
    font-family:-apple-system, BlinkMacSystemFont;
    font-size:large;
}


.alert{
    color:red;
    font-weight:400;
    font-size: 32px;
    
}


#para-3{
color:rgb(226, 142, 43);
border:solid 6px green;
}

